* { 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

#root {
    margin-top: 80px;
}

.news-content {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}